In [143]:
import pandas as pd 
from lyricsgenius import Genius
import re

In [145]:
csv = ['inlove.csv', 'heartbroken.csv', 'nonromance.csv']

In [146]:
df = pd.concat(
    map(pd.read_csv, csv), ignore_index=True)

In [147]:
df

                          title               artist         mood
0          Meet Me in Amsterdam                 RINI      in love
1           Fly You to the Moon       Justin Vasquez      in love
2                   double take                dhruv      in love
3            If I Ain't Got You          Alicia Keys      in love
4    Get You (feat. Kali Uchis)        Daniel Caesar      in love
..                          ...                  ...          ...
295            Joy to the World        Shameik Moore  non-romance
296                        Kids                 MGMT  non-romance
297          jealousy, jealousy       Olivia Rodrigo  non-romance
298      What's New Scooby-Doo?          Simple Plan  non-romance
299                   Unwritten  Natasha Bedingfield  non-romance

[300 rows x 3 columns]

In [148]:
genius = Genius(token)

In [149]:
song = genius.search_song("Meet Me in Amsterdam", "RINI")
lyrics = song.lyrics

Searching for "Meet Me in Amsterdam" by RINI...
Done.

In [150]:
lyrics = re.sub("[\(\[].*?[\)\]]", "", lyrics)

In [151]:
lyrics = re.sub("\n", " ", lyrics)

In [152]:
lyrics =lyrics[lyrics.find('Lyrics'):].replace('Lyrics ','')

In [153]:
lyrics

'I would sail across the world Row this boat from dusk till dawn To a place where we belong Girl your body is calling me   There ain’t no sunshine, no sunshine Where I was before But I found the Love the warmth in your arms  Won’t you come closer, let it take over I don’t need anything, I just want you   When I saw her in my dreams Never thought it meant a thing Till I felt and touched her skin When she smiles, my knees go weak   There ain’t no sunshine, no sunshine Where I was before But I found the Love the warmth in your arms   Won’t you come closer, let it take over I don’t need anything, I just want you   If there is a next time If there is a next time Meet me in Amsterdam Meet me in Amsterdam  Meet me in Amsterdam Meet me in Amsterdam Meet me in Amsterdam Meet me in Amsterdam You might also likeMeet me in Amsterdam Meet me in Amsterdam Meet me in Amsterdam Meet me in AmsterdamEmbed'

In [154]:
df['lyrics'] = 'None'

In [155]:
df

                          title               artist         mood lyrics
0          Meet Me in Amsterdam                 RINI      in love   None
1           Fly You to the Moon       Justin Vasquez      in love   None
2                   double take                dhruv      in love   None
3            If I Ain't Got You          Alicia Keys      in love   None
4    Get You (feat. Kali Uchis)        Daniel Caesar      in love   None
..                          ...                  ...          ...    ...
295            Joy to the World        Shameik Moore  non-romance   None
296                        Kids                 MGMT  non-romance   None
297          jealousy, jealousy       Olivia Rodrigo  non-romance   None
298      What's New Scooby-Doo?          Simple Plan  non-romance   None
299                   Unwritten  Natasha Bedingfield  non-romance   None

[300 rows x 4 columns]

In [156]:
for i in range(5):
    song = genius.search_song(df.iloc[i, 0], df.iloc[i, 1])
    if song is None:
        lyrics = 'none'
    else:
        lyrics = song.lyrics
        lyrics = re.sub("[\(\[].*?[\)\]]", "", lyrics)
        lyrics = re.sub("\n", " ", lyrics)
        lyrics = lyrics[lyrics.find('Lyrics'):].replace('Lyrics ','')
    df.iloc[i, 3] = lyrics

Searching for "Meet Me in Amsterdam" by RINI...
Done.
Searching for "Fly You to the Moon" by Justin Vasquez...
Done.
Searching for "double take" by dhruv...
Done.
Searching for "If I Ain't Got You" by Alicia Keys...
Done.
Searching for "Get You (feat. Kali Uchis)" by Daniel Caesar...
Done.

In [157]:
df

,title,artist,mood,lyrics
0,Meet Me in Amsterdam,RINI,in love,I would sail across the world Row this boat fr...
1,Fly You to the Moon,Justin Vasquez,in love,I'll fly you to the moon A place for me and yo...
2,double take,dhruv,in love,Ooh-ooh-ooh-ooh Ooh-ooh-ooh Ooh-ooh-ooh-ooh ...
3,If I Ain't Got You,Alicia Keys,in love,Some people live for the fortune Some people l...
4,Get You (feat. Kali Uchis),Daniel Caesar,in love,LyricsDiana Mix: Sam Wise - 10 mins VINCH - Mo...
...,...,...,...,...
295,Joy to the World,Shameik Moore,non-romance,None
296,Kids,MGMT,non-romance,None
297,"jealousy, jealousy",Olivia Rodrigo,non-romance,None
298,What's New Scooby-Doo?,Simple Plan,non-romance,None
299,Unwritten,Natasha Bedingfield,non-romance,None

In [161]:
df2 = pd.read_csv('inlove.csv')
df2

,title,artist,mood,lyrics
0,Meet Me in Amsterdam,RINI,in love,I would sail across the world Row this boat fr...
1,Fly You to the Moon,Justin Vasquez,in love,I'll fly you to the moon A place for me and yo...
2,double take,dhruv,in love,Ooh-ooh-ooh-ooh Ooh-ooh-ooh Ooh-ooh-ooh-ooh ...
3,If I Ain't Got You,Alicia Keys,in love,Some people live for the fortune Some people l...
4,Get You (feat. Kali Uchis),Daniel Caesar,in love,LyricsDiana Mix: Sam Wise - 10 mins VINCH - Mo...
...,...,...,...,...
95,I GUESS I'M IN LOVE,Clinton Kane,in love,"Oh, I'm obsessed With the way your head is lay..."
96,Dissolve,Absofacto,in love,No flask can keep it Bubble up and cut right t...
97,Perfect,One Direction,in love,I might never be your knight in shinin' armour...
98,See You Again (feat. Kali Uchis),"Tyler, The Creator",in love,"Lyrics1. Tyler, The Creator - See You Again 2..."
99,More Than Friends,Aidan Bissett,in love,"Uhh hello? anybody there? Hello? Cause girl,..."

In [163]:
df3 = pd.read_csv('heartbroken.csv')
df3

,title,artist,mood,lyrics
0,Glimpse of Us,Joji,heartbroken,She'd take the world off my shoulders If it wa...
1,Before You Go,Lewis Capaldi,heartbroken,I fell by the wayside like everyone else I hat...
2,It'll Be Okay,Shawn Mendes,heartbroken,"Are we gonna make it? Is this gonna hurt? Oh, ..."
3,traitor,Olivia Rodrigo,heartbroken,Ooh-ooh-ooh Ah-ah-ah-ah-ah Brown guilty eyes...
4,Bigger Than The Whole Sky,Taylor Swift,heartbroken,No words appear before me in the aftermath Sal...
...,...,...,...,...
95,Arcade,Duncan Laurence,heartbroken,A broken heart is all that's left I'm still fi...
96,Flowers,ILIRA,heartbroken,"It's been two years now, and life goes on But ..."
97,On My Mind,Malachi Gagnon,heartbroken,none
98,Ghost,Justin Bieber,heartbroken,Youngblood thinks there's always tomorrow I mi...
99,Wings,Sweet Imperfections,heartbroken,I found the truth beneath your lies And true l...